<filepath="cursor1.png" id="id_cursor1" colfmt="6" />
<filepath="cursor2.png" id="id_cursor2" colfmt="6" />
<filepath="cursor3.png" id="id_cursor3" colfmt="6" />
<filepath="cursor4.png" id="id_cursor4" colfmt="6" />
