<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoonBase Admin</title>
    <script src="./vue.min.js"></script>
    <style>
        body {
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 20px;
            line-height: 1.5;
            background-color: #000;
            color: #fff;
        }

        .column {
            display: inline-block;
            width: 200px;
        }

        .positive {
            color: #8f8;
        }

        .positive::before {
            content: '+';
        }

        .negative {
            color: #f88;
        }
    </style>
</head>

<body>
    <div id="app">
        <h1>MoonBase Admin</h1>

        <h2>Spelers Grondstoffen</h2>
        <ul>
            <li v-for="player in players" :key="player.id"
                :style="{ backgroundColor: `rgb(${player.color.red}, ${player.color.green}, ${player.color.blue}, 0.25)` }">
                <span class="column"
                    :style="{ fontWeight: 'bold', color: `rgb(${player.color.red}, ${player.color.green}, ${player.color.blue})` }">
                    {{ player.name }}
                </span>
                <span class="column">🪨 {{ player.moonstone.toFixed(0) }}
                    <span :class="{ positive: player.moonstoneInc >= 0, negative: player.moonstoneInc < 0}">{{
                        player.moonstoneInc.toFixed(0) }}</span></span>
                <span class="column">⚡ {{ player.energy.toFixed(0) }}
                    <span :class="{ positive: player.energyInc >= 0, negative: player.energyInc < 0}">{{
                        player.energyInc.toFixed(0) }}</span>
                </span>
                <span class="column">🥩 {{ player.food.toFixed(0) }}
                    <span :class="{ positive: player.foodInc >= 0, negative: player.foodInc < 0}">{{
                        player.foodInc.toFixed(0) }}</span></span>
                <span class="column">💧 {{ player.water.toFixed(0) }}
                    <span :class="{ positive: player.waterInc >= 0, negative: player.waterInc < 0}">{{
                        player.waterInc.toFixed(0) }}</span></span>
                <span class="column">☁️ {{ player.oxygen.toFixed(0) }}
                    <span :class="{ positive: player.oxygenInc >= 0, negative: player.oxygenInc < 0}">{{
                        player.oxygenInc.toFixed(0) }}</span></span>
                <span class="column">🏠 {{ player.housingUsed.toFixed(0) }} / {{ player.housing.toFixed(0) }}</span>
            </li>
        </ul>

        <h3>Verander Grondstoffen</h3>
        <form @submit.prevent="resourcesFormSubmit">
            <select v-model="resourcesForm.playerId">
                <option value="null" disabled>Kies een speler:</option>
                <option v-for="player in players" :key="player.id" :value="player.id">{{ player.name }}</option>
            </select>
            🪨 <input type="number" v-model="resourcesForm.moonstone">
            ⚡ <input type="number" v-model="resourcesForm.energy">
            🥩 <input type="number" v-model="resourcesForm.food">
            💧 <input type="number" v-model="resourcesForm.water">
            ☁️ <input type="number" v-model="resourcesForm.oxygen">
            <button type="submit">Modify</button>
        </form>

        <h2>Spelers Eenheden</h2>
        <ul>
            <li v-for="player in players" :key="player.id"
                :style="{ backgroundColor: `rgb(${player.color.red}, ${player.color.green}, ${player.color.blue}, 0.25)` }">
                <span class="column"
                    :style="{ fontWeight: 'bold', color: `rgb(${player.color.red}, ${player.color.green}, ${player.color.blue})` }">
                    {{ player.name }}
                </span>

                <ul style="font-size: 75%;">
                    <li v-for="unit in player.units">{{ unitTypes[unit.typeId].name }}</li>
                </ul>
            </li>
        </ul>

        <h3>Koop Eenheid</h3>
        <form @submit.prevent="unitBuyFormSubmit">
            <select v-model="unitBuyForm.playerId">
                <option value="null" disabled>Kies een speler:</option>
                <option v-for="player in players" :key="player.id" :value="player.id">{{ player.name }}</option>
            </select>
            <select v-model="unitBuyForm.unitTypeId">
                <option value="null" disabled>Kies een eenheid type:</option>
                <option v-for="unitType, id in unitTypes" :key="id" :value="id">{{ unitType.name }}</option>
            </select>
            <button type="submit">Koop</button>
        </form>

        <h3>Verkoop Eenheid</h3>
        <form @submit.prevent="unitSellFormSubmit">
            <select v-model="unitSellForm.playerId">
                <option value="null" disabled>Kies een speler:</option>
                <option v-for="player in players" :key="player.id" :value="player.id">{{ player.name }}</option>
            </select>
            <select v-model="unitSellForm.unitTypeId">
                <option value="null" disabled>Kies een eenheid type:</option>
                <option v-for="unitType, id in unitTypes" :key="id" :value="id">{{ unitType.name }}</option>
            </select>
            <button type="submit">Verkoop</button>
        </form>

        <h3>Vernietig Eenheid</h3>
        <form @submit.prevent="unitDestroyFormSubmit">
            <select v-model="unitDestroyForm.playerId">
                <option value="null" disabled>Kies een speler:</option>
                <option v-for="player in players" :key="player.id" :value="player.id">{{ player.name }}</option>
            </select>
            <select v-model="unitDestroyForm.unitTypeId">
                <option value="null" disabled>Kies een eenheid type:</option>
                <option v-for="unitType, id in unitTypes" :key="id" :value="id">{{ unitType.name }}</option>
            </select>
            <button type="submit">Vernietig</button>
        </form>
    </div>

    <script>
        const MessageType = {
            PLAYER_UPDATE: 0x01,
            PLAYER_MODIFY: 0x02,
            UNIT_BUY: 0x10,
            UNIT_SELL: 0x11,
            UNIT_DESTROY: 0x12,
            UNIT_TYPES_JSON_REQ: 0x20,
            UNIT_TYPES_JSON_RES: 0x21,
        };

        let ws;
        const app = new Vue({
            el: '#app',
            data: {
                players: [],
                unitTypes: {},
                resourcesForm: {
                    playerId: null,
                    moonstone: 0,
                    energy: 0,
                    food: 0,
                    water: 0,
                    oxygen: 0
                },
                unitBuyForm: {
                    playerId: null,
                    unitTypeId: null,
                },
                unitSellForm: {
                    playerId: null,
                    unitTypeId: null,
                },
                unitDestroyForm: {
                    playerId: null,
                    unitTypeId: null,
                }
            },

            created() {
                ws = new WebSocket('ws://localhost:8080/');
                ws.binaryType = 'arraybuffer';
                ws.onopen = () => {
                    const message = new ArrayBuffer(1);
                    let pos = 0;
                    const view = new DataView(message);
                    view.setUint8(pos++, MessageType.UNIT_TYPES_JSON_REQ);
                    ws.send(message);
                };
                ws.onmessage = (event) => {
                    this.onMessage(event.data);
                };
            },

            methods: {
                resourcesFormSubmit() {
                    if (this.resourcesForm.playerId == null) return;

                    const message = new ArrayBuffer(1 + 1 + 5 * 4);
                    let pos = 0;
                    const view = new DataView(message);
                    view.setUint8(pos++, MessageType.PLAYER_MODIFY);
                    view.setUint8(pos++, this.resourcesForm.playerId);
                    view.setFloat32(pos, this.resourcesForm.moonstone); pos += 4;
                    view.setFloat32(pos, this.resourcesForm.energy); pos += 4;
                    view.setFloat32(pos, this.resourcesForm.food); pos += 4;
                    view.setFloat32(pos, this.resourcesForm.water); pos += 4;
                    view.setFloat32(pos, this.resourcesForm.oxygen); pos += 4;
                    ws.send(message);

                    this.resourcesForm.playerId = null;
                    this.resourcesForm.moonstone = 0;
                    this.resourcesForm.energy = 0;
                    this.resourcesForm.food = 0;
                    this.resourcesForm.water = 0;
                    this.resourcesForm.oxygen = 0;
                },

                unitBuyFormSubmit() {
                    if (this.unitBuyForm.playerId == null) return;
                    if (this.unitBuyForm.unitTypeId == null) return;

                    const message = new ArrayBuffer(1 + 1 + 1);
                    let pos = 0;
                    const view = new DataView(message);
                    view.setUint8(pos++, MessageType.UNIT_BUY);
                    view.setUint8(pos++, this.unitBuyForm.playerId);
                    view.setUint8(pos++, this.unitBuyForm.unitTypeId);
                    ws.send(message);

                    this.unitBuyForm.playerId = null;
                    this.unitBuyForm.unitTypeId = null;
                },

                unitSellFormSubmit() {
                    if (this.unitSellForm.playerId == null) return;
                    if (this.unitSellForm.unitTypeId == null) return;

                    const message = new ArrayBuffer(1 + 1 + 1);
                    let pos = 0;
                    const view = new DataView(message);
                    view.setUint8(pos++, MessageType.UNIT_SELL);
                    view.setUint8(pos++, this.unitSellForm.playerId);
                    view.setUint8(pos++, this.unitSellForm.unitTypeId);
                    ws.send(message);

                    this.unitSellForm.playerId = null;
                    this.unitSellForm.unitTypeId = null;
                },

                unitDestroyFormSubmit() {
                    if (this.unitDestroyForm.playerId == null) return;
                    if (this.unitDestroyForm.unitTypeId == null) return;

                    const message = new ArrayBuffer(1 + 1 + 1);
                    let pos = 0;
                    const view = new DataView(message);
                    view.setUint8(pos++, MessageType.UNIT_DESTROY);
                    view.setUint8(pos++, this.unitDestroyForm.playerId);
                    view.setUint8(pos++, this.unitDestroyForm.unitTypeId);
                    ws.send(message);

                    this.unitDestroyForm.playerId = null;
                    this.unitDestroyForm.unitTypeId = null;
                },

                onMessage(message) {
                    const view = new DataView(message);
                    let pos = 0;
                    const type = view.getUint8(pos++);

                    if (type == MessageType.UNIT_TYPES_JSON_RES) {
                        const decoder = new TextDecoder();
                        const unitTypes = JSON.parse(decoder.decode(new Uint8Array(message, pos, message.byteLength - 1))); pos += message.byteLength - 1;
                        for (const unitType of unitTypes) {
                            this.unitTypes[unitType.id] = unitType;
                        }
                    }

                    if (type == MessageType.PLAYER_UPDATE) {
                        const playerId = view.getUint8(pos++);
                        let player = this.players.find(player => player.id == playerId);
                        if (player == null) {
                            player = {
                                id: playerId, name: '', color: { red: 0, green: 0, blue: 0, },
                                moonstone: 0, moonstoneInc: 0, food: 0, foodInc: 0, water: 0, waterInc: 0,
                                oxygen: 0, oxygenInc: 0, housingUsed: 0, housing: 0, units: {}
                            };
                            this.players.push(player);
                        }

                        const nameLength = view.getUint16(pos); pos += 2;
                        const decoder = new TextDecoder();
                        player.name = decoder.decode(new Uint8Array(message, pos, nameLength)); pos += nameLength;
                        player.color = {
                            red: view.getUint8(pos++),
                            green: view.getUint8(pos++),
                            blue: view.getUint8(pos++),
                        };

                        player.moonstone = view.getFloat32(pos); pos += 4;
                        player.moonstoneInc = view.getFloat32(pos); pos += 4;
                        player.energy = view.getFloat32(pos); pos += 4;
                        player.energyInc = view.getFloat32(pos); pos += 4;
                        player.food = view.getFloat32(pos); pos += 4;
                        player.foodInc = view.getFloat32(pos); pos += 4;
                        player.water = view.getFloat32(pos); pos += 4;
                        player.waterInc = view.getFloat32(pos); pos += 4;
                        player.oxygen = view.getFloat32(pos); pos += 4;
                        player.oxygenInc = view.getFloat32(pos); pos += 4;
                        player.housingUsed = view.getFloat32(pos); pos += 4;
                        player.housing = view.getFloat32(pos); pos += 4;

                        const unitsLength = view.getUint16(pos); pos += 2;
                        player.units = [];
                        for (let i = 0; i < unitsLength; i++) {
                            player.units.push({ typeId: view.getUint8(pos++) });
                        }
                    }
                }
            }
        });
    </script>
</body>

</html>
